.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

.row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.btn {
    float: right;
    margin-left: 2%;
}

#addP {
  align-items: center !important;
  justify-content: center !important;
  right: 40% !important;
  position: relative;
}

.btn-primary {
background-color: #0652DD;
}

.btn-danger {
  background-color: #EA2027;
}
